
snippet \score "Import IELTS scores"
  - [x]     Overall: ${0} 
  - [x]     Coherence and Cohesion: ${1} 
  - [x]     Resource: ${2}
  - [x]     Grammatical Range and Accuracy: ${3} 
  - [x]     Task Achievement: ${4} 
  
